<!DOCTYPE html>
<html>
<head>
    <title>Hospital Management System</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Hospital Management System</h1>

<p>Testing Hospital Functionalities</p>
<a href="/hospitals">Manage Hospitals</a>

<p>Testing Doctor Functionalities</p>
<a href="/doctors">Manage Doctors</a>

<p>Testing Department Functionalities</p>
<a href="/departments">Manage Departments</a>

<p>Testing Room Functionalities</p>
<a href="/rooms">Manage Rooms</a>

<p>Testing Medical Staff Appointment Functionalities</p>
<a href="/medical-staff-appointments">Manage Medical Staff Appointment</a>

<p>Testing Appointment Functionalities</p>
<a href="/appointments">Manage Appointments</a>

<p>Testing Patients Functionalities</p>
<a href="/patients">Manage Patients</a>

<p>Testing Nurses Functionalities</p>
<a href="/nurses">Manage Nurses</a>

</body>
</html>